<mat-card>

  <mat-form-field appearance="fill">
    <mat-label>Startort</mat-label>
    <input type="text" name="start" matInput [formControl]="startControl" [value]="startControl.value?.label || ''"
      (keyup.enter)="onEnterPressed('start')" #startInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zielort</mat-label>
    <input type="text" name="end" matInput [formControl]="endControl" [value]="endControl.value?.label || ''"
      (keyup.enter)="onEnterPressed('end')" #endInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Profil</mat-label>
    <mat-select [formControl]="profileControl">
      <mat-option value="driving-car">Auto</mat-option>
      <mat-option value="cycling-regular">Fahrrad (Normal)</mat-option>
      <mat-option value="foot-walking">Zu Fuß (Gehen)</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button name="plan-route" color="primary" (click)="getRoute()">Route berechnen</button>

  <div id="map" style="width: 100%; height: 400px;"></div>
</mat-card>